body {
  text-align: center;
}

.currentImage {
  opacity: 1;
}

.nextImage {
  opacity: 0;
}

.carousel {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.imgWrapper {
  position: relative;
  width: 50vw;
  height: 60vh;
}

.slideImg {
  position: absolute;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
  transition-property: opacity;
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center;
}
